@import '../../styles/variables.scss';

.GroupContainer{
    height: 100vh;
    overflow-y: auto;
    .InforContainer{
        color: $font-padrao;
        padding: 5px 25px;
    }
    .CardList{
        display: flex;
        flex-direction: column;
        align-items: center;
        .CardHero{
            list-style-type: none;
        }
    }
}