@import '../../../styles/variables.scss';

.MenuSideBar{
    padding: 5px;

    .ContainerLogo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        .ImageLogo{
            width: 120px;
        }

        .Title{
            font-size: 40px;
            color: $font-padrao;
        }
    }

    .ContainerNavigation{
        margin-top: 15px;
        text-align: center;
    }

    .MenuIcon{
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
}