<div class="SelectHeroContainer">
    <div class="BackIconContainer">
        <img 
            class="BackIcon"
            src="https://img.icons8.com/external-others-phat-plus/64/external-back-essential-color-line-others-phat-plus.png" 
            alt="Voltar"
            routerLink="/grupo"
        >
    </div>
    <div class="ListHeroContainer">
        <h1>Selecione um Herói</h1>
        <ul class="TokenContainer">
            <li *ngFor="let hero of heroList">
                <app-hero-token [hero]="hero"></app-hero-token>
            </li>
        </ul>
    </div>
</div>