.AddButton{
    width: 230px;
    height: 230px;
    font-size: 62px;
    border-radius: 15px;
    border: none;
    margin: 15px 0;
    color: #fff;
    background-color: #3e5244;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}