<div class="HomeContainer">
    <div class="ContainerMenu">
        <div class="ContainerLogo">
            <img class="ImageLogo" src="assets/logo.png" alt="Logo Angular Quest">
            <h3 class="Title">Angular Quest</h3>
        </div>
        <div class="ContainerButton">
            <app-nav-button [navigation]="'/dashboard'" [label]="'Novo'"></app-nav-button>
            <app-nav-button [navigation]="'/dashboard'" [label]="'Continuar'" [disabled]="true"></app-nav-button>
        </div>
    </div>
</div>
