<div class="TokenContainer">
    <img 
        class="HeroImage" 
        src="{{hero.img}}" 
        alt="Token Herói: {{hero.name}}"
        (click)="showDialog()"
        [ngClass]="inativeToke()"
    >
    <p-dialog 
        [(visible)]="visible" 
        [style]="{'width': '90vw', 'height': '80vh'}"
        [modal]="true"
        [draggable]="false"
        [contentStyle]="{'background-color': '#4d6253', 'color': '#fff'}"
        [showHeader]="false"
    >
        <app-info-hero-card [hero]="hero" (sendCloseDialog)="closeDialog()"></app-info-hero-card>
    </p-dialog>
</div>
