@import '../../../styles/variables.scss';

.TokenContainer{
    margin-top: 15px;

    .HeroImage{
        width: 85px;
        height: 85px;
        background-color: $bg-box2;
        border-radius: 50px;
        margin: 0 10px;
        padding: 5px;
        border: 2px solid;
        border-color: $bg-padrao;
        box-shadow: 0 0 0 3px $bg-box4;
    }

    .InativeToken{
        filter: grayscale(100%);
    }
}