<div class="DashboardContainer">
    <app-side-navbar></app-side-navbar>
    <div class="InforContainer">
        <h1>Estatísticas</h1>
        <div class="GroupContainer">
            <h2>Meu Grupo</h2>
            <div class="GroupBox">
                <div class="Hero" *ngFor="let hero of group; let i = index">
                    <img [ngClass]="indexClass(i)" *ngIf="hero.name !== ''" src="{{hero.gif}}" alt="">
                </div>
            </div>
        </div>
        <div class="DungeonContainer">
            <h2>Masmorra</h2>
        </div>
    </div>
</div>