<div class="DashboardContainer">
    <app-side-navbar></app-side-navbar>
    <div class="InforContainer">
        <h1>Estatísticas</h1>
        <div class="GroupContainer">
            <h2>Meu Grupo</h2>
            <div class="GroupBox">
                <div class="Hero"></div>
                <div class="Hero"></div>
                <div class="Hero"></div>
                <div class="Hero"></div>
            </div>
        </div>
        <div class="DungeonContainer">
            <h2>Masmorra</h2>
        </div>
    </div>
</div>