@import '../../styles/variables.scss';

.DashboardContainer{
    .InforContainer{
        color: $font-padrao;
        padding: 5px 25px;

        .GroupContainer{
            margin-top: 20px;
            .GroupBox{
                margin-top: 10px;
                position: relative;
                .Hero{                    
                    .HeroImage0{
                        position: absolute;
                        left: -60px;
                        bottom: -250px;
                    }
                    .HeroImage1{
                        position: absolute;
                        left: 40px;
                        bottom: -190px;
                    }
                    .HeroImage2{
                        position: absolute;
                        left: 15px;
                        bottom: -280px;
                    }
                    .HeroImage3{
                        position: absolute;
                        left: 100px;
                        bottom: -215px;
                    }
                }
            }
        }

        .DungeonContainer{
            margin-top: 300px;
        }
    }
}